.up-ctr{
  padding: 0;
  min-height: 209px;
}

.item-tile{
  width: 33%;
  display: inline-block;
}

.up-item{
  height: auto;
  max-width: 170px;
  position: relative;
  margin: 4px;
  border: 2px solid #a4a4a4;
  padding: 0;
}

.up-ctr img{
  width: 100%;
  height: auto;
  max-height: 166px;
  object-fit: cover;
}

.up-ctr img:hover{
  opacity: 0.85;
}

.up-ctr .dark-bar{
  position: relative;;
  display: block;
  color: white;
  background: rgba(0, 0, 0, 0.57);
  font-family: Oswald;
  height: 31px;
}

.up-ctr .dark-bar span:first-of-type{
  position: absolute;
  left: 1px;
  top: 0;
  text-align: left;
  max-width: 115px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.up-ctr .dark-bar span:nth-of-type(2){
  position: absolute;
  right: 0;
  top: 0;
  font-weight: lighter;
  font-size: 23px;
}

.up-ctr .dark-bar a{
  position: absolute;
  left: 0;
  bottom: -3px;
  font-size: 13px;
  color: white;
  font-weight: lighter;
}

.up-ctr .dark-bar i:hover{
  color: #e2d0d0;
}

.crsl-set{
  padding: 0;
  min-height: 1px;
  height: initial;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 560px;
}

.crsl{
  position: relative;
  min-height: 1px;
  height: 875px;
  overflow: auto;
}

.crsl-cntrl{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  font-family: Oswald;
  color: #542164;
}

.crsl-cntrl{
  margin: 5px;
  text-align: center;
  margin: auto;
}

#cur-pg{
  font-weight: bold;
  font-size: 20px;
}

.crsl-cntrl i{
  display: inline-block;
  margin: 0 20px;
  font-size: 23px;
}

#item-carousel{
  display: none;
}

.crsl-img-ctr{
  position: relative;
  overflow: hidden;
}

.crsl-img-ctr .div-hover{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  padding: 5px;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.crsl-img-ctr .div-hover:hover{
  opacity: 1;
}

.crsl-img-ctr .fa-info-circle{
  color: #6e6e6e;
  font-size: 28px;
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 1;
  display: none;
}


@media (max-width: 910px){
  .up-ctr .dark-bar span:first-of-type{
    max-width: 85px;
  }

  .up-ctr{
    min-height: 195px;
  }
}

@media (max-width: 768px){
  .up-item{
    margin: auto;
    max-width: 300px;
  }

  .up-ctr .dark-bar span:first-of-type{
    font-size: 18px;
  }

  .up-ctr{
    padding: 5px;
    min-height: 180px;
  }

  .up-ctr img{
    max-height: 300px;
  }

  .up-ctr .dark-bar{
    height: 45px;
  }

  .up-ctr .dark-bar span:nth-of-type(2){
    font-size: 17px;
  }

  .up-ctr .dark-bar a{
    font-size: 20px;
  }

  .row#addons{
    padding-bottom: 20px;
  }

  .crsl-cntrl{
    margin-bottom: 20px;
  }

  .crsl-img-ctr .div-hover{
    padding: 25px 5px;
  }
}

@media (max-width: 767px){
  .up-ctr .dark-bar span:first-of-type{
    max-width: none;
  }

  .up-ctr .dark-bar span:nth-of-type(2){
    font-size: 32px;
  }

  .up-ctr .dark-bar span:first-of-type{
    font-size: 20px;
  }

  .crsl-img-ctr .fa-info-circle{
    display: block;
  }
}

@media (max-width: 650px){
  .up-ctr .dark-bar span:first-of-type {
    max-width: 225px;
  }
}

@media (max-width: 350px){
  .up-ctr .dark-bar span:first-of-type{
    max-width: 175px;
  }
}
